@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-mulish), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-nunito), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}
