---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div
    style='display: flex; justify-content: center; gap: 1rem; margin-top: 2rem;'
  >
    <a
      href='/kippr/privacy-policy'
      style='padding: 10px 20px; background-color: #111; color: white; text-decoration: none; border-radius: 6px;'
      >Kippr Privacy Policy</a
    >
    <a
      href='/kippr/terms-and-conditions'
      style='padding: 10px 20px; background-color: #111; color: white; text-decoration: none; border-radius: 6px;'
      >Kippr Terms & Conditions</a
    >
  </div>
  <Welcome />
</Layout>
